In [3]:
# Import packages

#import thinkplot
#import thinkstats2
import pandas as pd
import numpy as np
import math
import scipy.stats as ss
import thinkplot
import thinkstats2

##Seaborn for fancy plots. 
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams["figure.figsize"] = (15,5)

In [3]:
data = pd.read_csv('Sample10percentPropertyAssessmentData.csv', error_bad_lines=False)

b'Skipping line 38961: expected 1 fields, saw 2\nSkipping line 149706: expected 1 fields, saw 2\nSkipping line 198117: expected 1 fields, saw 2\nSkipping line 208487: expected 1 fields, saw 2\nSkipping line 221766: expected 1 fields, saw 2\nSkipping line 283566: expected 1 fields, saw 2\nSkipping line 308790: expected 1 fields, saw 2\n'

In [5]:
data[10:]

       Account Number\tAssessment Year\tHouse Number\tLatitude\tLongitude\tActual Year Built\tGarage\tAssessment Class 1\tAssessment Class % 1\tAssessment Class 2\tAssessment Class % 2\tAssessment Class 3\tAssessment Class % 3\tSuite\tStreet Name\tLegal Description\tPoint Location\tNeighbourhood\tZoning\tLot Size\tAssessed Value
10      7085376\t2020\t12219\t53.45587\t-113.54057\t19...
11      10025786\t2019\t11919\t53.41354\t-113.52984\t2...
12      10010439\t2019\t820\t53.461\t-113.57455\t2004\...
13      10092485\t2013\t\t53.53432\t-113.50239\t2006\t...
14      9104423\t2013\t10315\t53.54534\t-113.41661\t19...
...                                                   ...
372321  9997727\t2013\t9704\t53.53343\t-113.62225\t200...
372322  9467416\t2019\t1132\t53.44086\t-113.43273\t197...
372323  10023501\t2016\t1031\t53.48647\t-113.67877\t20...
372324  10276448\t2014\t2137\t53.42192\t-113.5973\t201...
372325  9983398\t2017\t252\t53.4988\t-113.67169\t2002\...

[372316 rows x 1 columns]

In [ ]:
data = pd.read_csv("Sample10percentPropertyAssessmentData.csv")

Full Data

In [4]:
data = pd.read_csv("Property_Assessment_Data__Historical_.csv")

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,17,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
data.head()

,Account Number,Assessment Year,Suite,House Number,Street Name,Legal Description,Latitude,Longitude,Point Location,Neighbourhood,...,Garage,Zoning,Lot Size,Assessed Value,Assessment Class 1,Assessment Class % 1,Assessment Class 2,Assessment Class % 2,Assessment Class 3,Assessment Class % 3
0,1068451,2015,NaN,4007.0,SAVARYN DRIVE SW,SW 22-51-24-4,NaN,NaN,NaN,SUMMERSIDE,...,N,RPL,"109,314.3210","7,597,000.00",RESIDENTIAL,100.0,NaN,NaN,NaN,NaN
1,1152594,2012,NaN,17310.0,97 STREET NW,NaN,NaN,NaN,NaN,ELSINORE,...,N,AG,0.0000,"12,500.00",COMMERCIAL,100.0,NaN,NaN,NaN,NaN
2,1153568,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BATTERY OIL FIELDS,...,N,AG,0.0000,"88,000.00",COMMERCIAL,100.0,NaN,NaN,NaN,NaN
3,1153626,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BATTERY OIL FIELDS,...,N,AG,0.0000,0.00,COMMERCIAL,100.0,NaN,NaN,NaN,NaN
4,1248590,2016,NaN,NaN,NaN,NW 3-52-25-4,NaN,NaN,NaN,TERWILLEGAR AREA,...,N,A,"10,000.0000","49,500.00",COMMERCIAL,100.0,NaN,NaN,NaN,NaN

In [9]:
data.columns

Index(['Account Number', 'Assessment Year', 'Suite', 'House Number',
       'Street Name', 'Legal Description', 'Latitude', 'Longitude',
       'Point Location', 'Neighbourhood', 'Actual Year Built', 'Garage',
       'Zoning', 'Lot Size', 'Assessed Value', 'Assessment Class 1',
       'Assessment Class % 1', 'Assessment Class 2', 'Assessment Class % 2',
       'Assessment Class 3', 'Assessment Class % 3'],
      dtype='object')

In [5]:
data['Assessment Class 1'].value_counts()

RESIDENTIAL                       3162569
COMMERCIAL                         181348
OTHER RESIDENTIAL                   36509
FARMLAND                             4042
NONRES MUNICIPAL/RES EDUCATION          3
Name: Assessment Class 1, dtype: int64

In [9]:
data['Assessment Class % 1'].value_counts()

100.0    3376034
99.0        1013
1.0          484
98.0         339
50.0         224
          ...
43.0          14
41.0          13
44.0          11
47.0           7
37.0           4
Name: Assessment Class % 1, Length: 100, dtype: int64

In [6]:
data['Assessment Class 2'].value_counts()

COMMERCIAL                        2909
FARMLAND                          2583
RESIDENTIAL                       1656
OTHER RESIDENTIAL                 1288
NONRES MUNICIPAL/RES EDUCATION       1
Name: Assessment Class 2, dtype: int64

In [7]:
data['Assessment Class 3'].value_counts()

FARMLAND                          840
COMMERCIAL                        212
RESIDENTIAL                       161
OTHER RESIDENTIAL                  20
NONRES MUNICIPAL/RES EDUCATION      3
Name: Assessment Class 3, dtype: int64

<h1>Extracting only the non-mixed assessment class

In [25]:
data_nmx = data[data['Assessment Class % 1'] == 100.0]
data_nmx[10:]

,Account Number,Assessment Year,Suite,House Number,Street Name,Legal Description,Latitude,Longitude,Point Location,Neighbourhood,...,Garage,Zoning,Lot Size,Assessed Value,Assessment Class 1,Assessment Class % 1,Assessment Class 2,Assessment Class % 2,Assessment Class 3,Assessment Class % 3
10,3000239,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DOWNTOWN,...,N,CMX*,0.0000,500.00,COMMERCIAL,100.0,NaN,NaN,NaN,NaN
11,3008497,2012,NaN,12154.0,160 STREET NW,NaN,NaN,NaN,NaN,SPUR LINES,...,N,AG,104.7900,"1,035.00",COMMERCIAL,100.0,NaN,NaN,NaN,NaN
13,3029550,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BATTERY OIL FIELDS,...,N,AG,0.0000,0.00,COMMERCIAL,100.0,NaN,NaN,NaN,NaN
14,3169893,2019,NaN,2503.0,101 STREET SW,Plan: 8721140 Block: E,NaN,NaN,NaN,ELLERSLIE INDUSTRIAL,...,N,AGI,"49,452.5010","244,500.00",RESIDENTIAL,100.0,NaN,NaN,NaN,NaN
15,3283090,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OLIVER,...,N,US,0.0000,"565,000.00",COMMERCIAL,100.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384815,10928906,2020,NaN,12527.0,STONY PLAIN ROAD NW,Plan: 1920367 Block: A,53.54718,-113.53928,POINT (-113.53928 53.54718),WESTMOUNT,...,N,RA7,43.9930,"6,500.00",OTHER RESIDENTIAL,100.0,NaN,NaN,NaN,NaN
3384816,10954527,2020,NaN,NaN,NaN,Plan: 1923211 Unit: 87A,53.51841,-113.50710,POINT (-113.5071 53.51841),GARNEAU,...,N,DC1,5.8490,"10,000.00",RESIDENTIAL,100.0,NaN,NaN,NaN,NaN
3384817,10954448,2020,116,10728.0,82 AVENUE NW,Plan: 1923211 Unit: 7A,53.51841,-113.50710,POINT (-113.5071 53.51841),GARNEAU,...,N,DC1,63.6490,"408,000.00",RESIDENTIAL,100.0,NaN,NaN,NaN,NaN
3384818,10931845,2020,NaN,13307.0,17 STREET NE,NaN,53.59871,-113.31675,POINT (-113.31675 53.59871),CLOVER BAR AREA,...,N,A,161.8853,"6,000.00",COMMERCIAL,100.0,NaN,NaN,NaN,NaN
3384819,10943939,2020,NaN,5242.0,23 AVENUE SW,Plan: 1922598 Block: 11 Lot: 33,53.41254,-113.42280,POINT (-113.4228 53.41254),WALKER,...,N,DC1,340.3530,"146,500.00",RESIDENTIAL,100.0,NaN,NaN,NaN,NaN

In [27]:
data_nmx.columns

Index(['Account Number', 'Assessment Year', 'Suite', 'House Number',
       'Street Name', 'Legal Description', 'Latitude', 'Longitude',
       'Point Location', 'Neighbourhood', 'Actual Year Built', 'Garage',
       'Zoning', 'Lot Size', 'Assessed Value', 'Assessment Class 1',
       'Assessment Class % 1', 'Assessment Class 2', 'Assessment Class % 2',
       'Assessment Class 3', 'Assessment Class % 3'],
      dtype='object')

In [ ]:
# Sample code for reference
# if you want to operate on multiple columns, put them in a list like so:
cols = ['Assessed Value', 'col2', ..., 'colN']

# pass them to df.replace(), specifying each char and it's replacement:
df[cols] = df[cols].replace({'\$': '', ',': ''}, regex=True)

In [28]:
data_nmx['Assessed Value'] = data_nmx['Assessed Value'].replace({'\$': '', ',': ''}, regex=True)

<ipython-input-28-7492a9240fbb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_nmx['Assessed Value'] = data_nmx['Assessed Value'].replace({'\$': '', ',': ''}, regex=True)

In [30]:
data_nmx['Assessed Value'].describe()

count     3376034
unique      25779
top       8000.00
freq        26371
Name: Assessed Value, dtype: object

In [31]:
data_nmx['Assessed Value'] = data_nmx['Assessed Value'].astype('float')

<ipython-input-31-b9be9b27dd13>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_nmx['Assessed Value'] = data_nmx['Assessed Value'].astype('float')

In [32]:
data_nmx['Assessed Value'].describe()

count    3.376034e+06
mean     4.469757e+05
std      2.921983e+06
min      0.000000e+00
25%      1.850000e+05
50%      3.175000e+05
75%      4.165000e+05
max      7.468540e+08
Name: Assessed Value, dtype: float64

In [33]:
data_nmx.dtypes

Account Number            int64
Assessment Year           int64
Suite                    object
House Number            float64
Street Name              object
Legal Description        object
Latitude                float64
Longitude               float64
Point Location           object
Neighbourhood            object
Actual Year Built       float64
Garage                   object
Zoning                   object
Lot Size                 object
Assessed Value          float64
Assessment Class 1       object
Assessment Class % 1    float64
Assessment Class 2       object
Assessment Class % 2    float64
Assessment Class 3       object
Assessment Class % 3    float64
dtype: object

In [34]:
data_nmx['Lot Size'] = data_nmx['Lot Size'].replace({'\$': '', ',': ''}, regex=True)
data_nmx['Lot Size'] = data_nmx['Lot Size'].astype('float')

<ipython-input-34-786d37373c4c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_nmx['Lot Size'] = data_nmx['Lot Size'].replace({'\$': '', ',': ''}, regex=True)
<ipython-input-34-786d37373c4c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_nmx['Lot Size'] = data_nmx['Lot Size'].astype('float')

In [35]:
data_nmx['Lot Size'].describe()

count    3.349888e+06
mean     1.319616e+03
std      1.974837e+04
min      0.000000e+00
25%      1.495457e+02
50%      3.973560e+02
75%      5.845320e+02
max      9.823818e+06
Name: Lot Size, dtype: float64

In [36]:
data_nmx['Assessment Year'].value_counts()

2020    408304
2019    401328
2018    394901
2017    388399
2016    380146
2015    366538
2014    354899
2013    345155
2012    336364
Name: Assessment Year, dtype: int64

In [37]:
data_nmx['Neighbourhood'].value_counts()

OLIVER                              104775
DOWNTOWN                             83143
RUTHERFORD                           45235
SUMMERSIDE                           42687
WINDERMERE                           41195
                                     ...
MATTSON                                  6
TERWILLEGAR AREA                         5
CRYSTALLINA NERA EAST                    5
POWER STATIONS                           3
LAKE DISTRICT NORTH EAST PORTION         2
Name: Neighbourhood, Length: 423, dtype: int64